<div class="d-flex align-items-center justify-content-between">
    <div>
        <img style="width: 10rem" src="../../../assets/3699591.jpg" />
    </div>

    <div class="col-4">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <div class="">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/delivery/new">Nova rota</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" routerLink="/deliveryman/new">Novo entregador</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

</div>