<div class="container-lg d-flex justify-content-center p-4">
    <div class="col-9">
        <div class="card shadow round">
            <div class="card-header">
                <h3 class="text-center">
                    Crie uma nova rota
                </h3>
            </div>
            <nav class="navbar navbar-light bg-light">
                <div class="container-fluid">
                    <form class="d-flex">
                        <input class="form-control me-1" type="search" placeholder="selecione o cliente"
                            aria-label="Search">
                        <button class="btn btn-success" type="submit">Procurar</button>
                    </form>
                </div>
            </nav>
            <div class="m-3 table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Cliente</th>
                            <th scope="col">Endereço</th>
                            <th scope="col">Numero</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>av. Icarai</td>
                            <td>590</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Otto</td>
                            <td>Av. Benjamin Constant</td>
                            <td>1201</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td >Omar</td>
                            <td>Rua Republica</td>
                            <td>530</td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <button type="submit" class="btn btn-dark m-2 col-2">Criar rota</button>


        </div>

    </div>


</div>